body {
  background-color: #fff2ec;
  display: flex;
  justify-content: center;
}

/* App */
.grouping {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 50vh;
  margin-bottom: 10vh;
}

/*Word*/
.word-display {
  margin-top: 5vh;
  margin-bottom: 10vh;
  height: 20vh;
  width: 100vw;
  font-size: 90px;
  /* background-color: #c9aad7; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #8c2f39;
  font-family: cursive;
}

/* Guessing */
.keyboard {
  background-color: #b23a48;
  border: 2px solid #8c2f39;
  max-width: 50vw;
  border-radius: 25%;
  height: 50vh;
  padding: 10px;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 8vh;
  width: 4vw;
  background-color: #f8ad9d;
  border-radius: 50%;
  border: 2px solid #461220;
  color: #461220;
  display: inline;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.circle:hover {
  background-color: #fbc4ab;
}

.circle-guessed {
  height: 8vh;
  width: 4vw;
  background-color: #fed0bb;
  border-radius: 50%;
  border: 2px solid #fed0bb;
  color: #461220;
  display: inline;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

/* Hangman */
.hangman {
  width: 45vw;
  height: 50vh;
  margin-left: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 90%;
  border: dotted 7px #b23a48;
  border-radius: 10%;
  height: 40vh;
}

/* dialog*/
.popup {
  background-color: #b23a48;
  width: 50vw;
  border-radius: 25%;
  height: 50vh;
  padding: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.playAgain {
  height: 15vh;
  width: 20vw;
  font-size: 30px;
  background-color: #f8ad9d;
  border: 2px solid #461220;
  border-radius: 20%;
  color: #461220;
}

.playAgain:hover {
  background-color: #fbc4ab;
  border: 2px solid #461220;
}

.playAgain:active {
  background-color: #fed0bb;
  border: 2px solid #461220;
}

h4 {
  color: #461220;
  font-size: 25px;
  margin: 5px;
}

h1 {
  color: #461220;
  font-size: 50px;
  margin: 5px;
}