body {
  background-color: pink;
  display: flex;
  justify-content: center;
}

/* App */
.grouping {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 50vh;
  margin-bottom: 10vh;
}

/*Word*/
.word-display {
  margin-top: 10vh;
  margin-bottom: 5vh;
  height: 20vh;
  width: 100vw;
  font-size: 100px;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* Guessing */
.keyboard {
  background-color: purple;
  max-width: 55vw;
  height: 50vh;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 50px;
  width: 50px;
  background-color: skyblue;
  border-radius: 50%;
  color: white;
  display: inline;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

/* Hangman */
.hangman {
  background-color: red;
  width: 45vw;
  height: 50vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  max-width: 100%;
}