.keyboard{
    background-color: purple;
    height: 40vh;
    width: 40vw;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.circle{
    height: 50px;
    width: 50px;
    background-color: skyblue;
    border-radius: 50%;
    color: white;
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
}